extends layout

block content
  h1 #{title}: #{book.title}
  
  p #[strong 作者:] 
    a(href=book.author.url) #{book.author.name}
  p #[strong 简介:] #{book.summary}
  p #[strong ISBN:] #{book.isbn}
  p #[strong 概要:]&nbsp;
    each val, index in book.genre
      a(href=val.url) #{val.name}
      if index < book.genre.length - 1
        |, 
  
  div(style='margin-left:20px;margin-top:20px')
    h4 书籍情况
    
    each val in book_instances
      hr
      if val.status=='Available'
        p.text-success #{val.status}
      else if val.status=='Maintenance'
        p.text-danger #{val.status}
      else
        p.text-warning #{val.status} 
      p #[strong 出版社:] #{val.imprint}
      if val.status!='Available'
        p #[strong 还书日期:] #{val.due_back_format}
      p #[strong Id:]&nbsp;
        a(href=val.url) #{val._id}
 
    else
      p 书籍不存在